// @import 'https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css';
@import '../../../public/vendor/bootstrap-select/dist/css/bootstrap-select.min.css';
@import '../../../public/vendor/datatables/css/jquery.dataTables.min.css';
@import '../../../public/css/admin.css';

p.task-description {
    color: #fff;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    transition: 500ms all ease;
}

a#read-more {
    color: #EB8153;
}


p.task-description.expanded {
    overflow: unset;
    white-space: normal;
    text-overflow: unset;
    transition: 500ms all ease;
}

.task-subject {
    font-size: 14px;
}

.heading-badge {
    background: #eb8153;
    display: table;
    padding: 5px 10px;
    border-radius: 5px;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500 !important;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.bg-dark-custom {
    background-color: #5b5289 !important;
}

.icon-wrp {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 50px;
    height: 50px;
    background: #2BC155;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0 5px 2px #2bc155;
}

.icon-wrp i {
    color: #fff;
    font-size: 30px;
}

.flex-d-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0;
}

.custom-big-stat {
    text-align: left;
    font-size: 18px !IMPORTANT;
}

.custom-dash-text-stats {
    width: 50%;
    font-size: 40px !important;
    font-weight: 600;
    // color: #ffffff;
    text-align: right;
}

p.dash-acc-summ {
    font-weight: 600;
    font-size: 20px;
}

p.handy-p {
    margin: 0;
}

.weekDays-selector input {
    display: none !important;
}

.weekDays-selector input[type=checkbox]+label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

}

.weekDays-selector input[type=checkbox]:checked+label {
    background: #2AD705;
    color: #ffffff;
    font-weight: bold;
}

.flex-c {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

button.btn.btn-handy-task, a.btn-handy-task {
    background: #2ecc71;
    color: #fff;
    margin-right: 20px;
    min-width: 120px;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 2px;
}

label.task-d-label {
    display: block;
    font-weight: 600;
    font-size: 15px;
}

p.task--description {
    font-size: 16px;
}

p.task--description strong {
    font-size: 18px;
}

a.tx-green {
    font-weight: 600;
    color: #70c164;
    font-size: 16px;
}

h6.client_email {
    font-size: 16px;
    font-weight: 500;
}

h4.client_name {
    font-size: 20px;
    font-weight: 600;
}

p.tx-c-common {
    font-size: 16px;
    font-weight: 600;
    margin: 0 !important;
}

div#showmore-button-1 {
    background: #2ecc71;
    color: #fff;
    margin-right: 20px;
    min-width: 120px;
    font-size: 13px;
    font-weight: 500;
    max-width: 120px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.note {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.badge {
    font-size: 14px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-t-10 {
    margin-top: 10px;
}

select option {
    color: #000 !important;
}

.custom-form-control {
    height: calc(1.5em + 0.9375rem + 2px);
    padding: 0.46875rem 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #596882;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c0ccda;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 80px;
    margin: 0px 20px;
}

.minus,
.plus {
    width: 25px;
    height: 25px;
    background: #2ecc71;
    border-radius: 4px;
    padding: 0;
    border: 1px solid #2ecc71;
    display: flex;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.flex-cust1 {
    display: flex;
    align-items: center;
}

p.total-charge {
    margin: 0;
    color: #6b6666;
    font-size: 16px;
}

span.select2-container.select2-container--default.select2-container--open {
    z-index: 99999;
}

span.select2-selection.select2-selection--single {
    border: 0;
    border-radius: 3px;
}

.nav-header, .deznav{
    background: aliceblue;
}

.heading-badge {
    background: #70c164;
    display: table;
    padding: 5px 10px;
    border-radius: 5px;
}

.bg-secondary{
    background-color: #818285 !important;
}

// .dataTable {
//     tbody {
//         color: #fff !important;
//     }
// }

// .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
//     color: #fff !important;
// }
